* {
  box-sizing: border-box;
}

.App {
  height:100vh;
}

#root {
  height: 100vh;
}


/* Header */

.App-title {
  font-size: 1.5em;
  display: inline-block;
  padding-left: 20px;
  margin: 5px;
}

.App-header {
  background-color: rgb(68, 67, 67);
  color: white;
  text-align: left;
}

header {
  height:8%;
}

.header__menu {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 1em;
}
.header__menu svg {
  width: 32px;
  fill: #E0E0E0;
}

button {
  background-color: rgb(68, 67, 67); 
  color:rgb(224, 224, 238);   
}

#menu {
  padding: 1%;
  outline: none;
  margin-top: 5 px;
  margin-right: 3px;
  border:0;
}


/* Sidebar */

.Sidebar {
  height: 100%;
  width:300px;
  display: inline-block;
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0);
  transition: transform 0.3s ease;
}

input::placeholder {
  color: rgb(32, 134, 165);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  }

.list {
  display: inline-block;
  width: 300px;
  height:95%;
  background-color: #222;
  overflow:hidden;
  overflow-y:scroll;
}

.list-item {
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  margin: 5%;
  cursor: pointer;
  color: aliceblue
}

.list-item:hover {
  background-color: rgb(53, 65, 65);
  color:white;
}

.list-button {
  width:200px;
}

.Search-field {
  display: inline-block;
  width: inherit;
  height:5%;
}

.Search-field-input {
  height: 100%;
  width: 100%;
}

.toggle-hide {
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
  visibility: hidden;
}

/* Map */

.main-container {
  width: 100%;
  height: 84%;
}

.map {
  display: inline-block;
  position: absolute;
  right: 0;
  width: calc(100% - 300px);
  height: 84%;
}

.full-width{
  width:100%;
}

.details-window {
  width: 100px;
  height: 100px;
  background-color: white;
}

/* footer */

footer {
  height:8%;
  background-color: rgb(68, 67, 67);
  text-align: center;
}

.footer-title {
  margin:0;
  font-size: 1.5em;
  padding-top: 10px;
  color:aliceblue
}

/* Responsive CSS */

@media screen and (max-width:350px){
  .App-title {
    font-size: 1.2em;
    display: inline-block;
  }

  .header__menu {
    padding: 8px;
  }

  .header__menu svg {
    width: 30px;
  }

  .list-item {
    margin: 5px;
    height: 40px
  }
 
  .footer-title {
    font-size: 1.2em;
  }
}

@media screen and (max-width:500px){

  .footer-title {
    font-size: 1em;
  }

}


@media screen and (max-width:700px){

  .Sidebar {
    -webkit-transform: translate(-300px, 0);
    transform: translate(-320px, 0);
    transition: transform 0.3s ease;
    visibility: hidden;
    
  }

  .toggle-hide {
    position: relative;
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    transition: transform 0.3s ease;
    z-index: 10;
    visibility: visible;
  }

  #map_container {
    width: 100%;
  }

}


@media screen and (max-height:450px){
  header {
    height:12%;
  }

  .main-container {
    height: 76%;
  }

  .map {
    height: 76%;
  }

  footer {
    height:12%;
  }
 

}
